<div class="app-popular-books">

  <mat-card>

    <mat-card-title-group>
      <mat-card-title>JavaScript для детей. Самоучитель по программированию</mat-card-title>
      <mat-card-subtitle>Ник Морган</mat-card-subtitle>
      <!--<img mat-card-md-image src="https://kniga.biz.ua/images/all/6453_b.jpg">-->
    </mat-card-title-group>

    <mat-card-content>
      <img mat-card-image src="https://kniga.biz.ua/images/all/6453_b.jpg">
      Available in
    </mat-card-content>

    <mat-card-actions>

      <button
        mat-raised-button
        color="primary"
        type="button">
        book a book
      </button>

    </mat-card-actions>
  </mat-card>

</div>
