<div class="app-popular-books">

  <mat-card *ngFor="let book of books;">

    <mat-card-title-group>
      <mat-card-title>{{book.name}}</mat-card-title>
      <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
    </mat-card-title-group>

    <mat-card-content>
      <img mat-card-image [src]="book.thumbnail">
      Available in
    </mat-card-content>

    <mat-card-actions>

      <button
        mat-raised-button
        color="primary"
        type="button">
        book a book
      </button>

    </mat-card-actions>
  </mat-card>

</div>
