.app-popular-books {
  .mat-card {
    width: 164px;
    .mat-card-title {
      font-size: 11pt;
      font-weight: bold;
    }
    .mat-card-image:first-child {
      margin-top: -14px;
    }
  }
}
