.app-books {

  h2 {
    display: flex;
    span {
      margin-right: 30px;
    }
    .create-new {
      margin-left: 16px;
    }
  }

  .books.grid-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .books.list-view {
  }

}
