<div class="app-dialog-book">

  <form
    [formGroup]="bookForm"
    (ngSubmit)="onSaveBook()">

    <h1 mat-dialog-title>Book</h1>

    <div mat-dialog-content>

      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Name"
          formControlName="nameFormControl">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput placeholder="Author"
          formControlName="authorFormControl">
      </mat-form-field>

      <mat-form-field class="half-width">
        <input
          matInput placeholder="Year"
          formControlName="yearFormControl">
      </mat-form-field>

      <mat-form-field class="half-width">
        <input
          matInput placeholder="ISBN"
          formControlName="isbnFormControl">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput placeholder="Image"
          formControlName="thumbnailFormControl">
      </mat-form-field>

    </div>

    <div mat-dialog-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit">
        Save
      </button>
      <div class="space"></div>
      <button
        *ngIf="!book.isNew"
        mat-raised-button
        (click)="onDelete()"
        type="button">
        Delete
      </button>
      <button
        mat-button
        (click)="onCancel()"
        type="button">
        Cancel
      </button>
    </div>

  </form>

</div>
