.app-root {
  .title, .login {
    min-width: 300px;
  }
  .title {
    display: flex;

    span {
      line-height: 48px;
    }
  }
  .space {
    text-align: center;
  }
  .login {
    text-align: right;
    font-weight: normal;
    font-size: 10pt;

    .mat-raised-button {
      margin-left: 8px;
    }
  }

  .mat-card {
    margin-bottom: 24px;
  }

}

.backup-menu-item {
  display: flex;
  align-items: center;
  .material-icons {
    margin-right: 4px;
  }
}
