<div class="app-root">
  <mat-toolbar color="primary">
    <h1 class="title">
      <img src="/assets/Kyiv_logo_english.png" height="50" alt="Ukraine">
      <span>
        Libraries
      </span>
    </h1>

    <span class="space">
      <img src="/assets/ukraine_now_logo.png" height="50" alt="Ukraine">
    </span>

    <div class="login">
      <button
        *ngIf="!isLogin()"
        mat-raised-button
        (click)="onSignIn()">Sign in</button>

      <div *ngIf="isLogin()">

        <mat-menu #backupMenu="matMenu">

          <button
            (click)="onCreateBackup()"
            mat-menu-item
            type="button"
            class="backup-menu-item">
            <i class="material-icons">
              backup
            </i>
            Create backup
          </button>

          <button
            (click)="onRestoreBackup()"
            mat-menu-item
            type="button"
            class="backup-menu-item">
            <i class="material-icons">
              settings_backup_restore
            </i>
            Restore from backup
          </button>
          <input
            type="file"
            #uploadFile
            [hidden]="true"
            accept=".json"
            (change)="onUploadFile($event)"/>

        </mat-menu>

        <button
          mat-raised-button
          color="primary"
          [matMenuTriggerFor]="backupMenu">
          <i class="material-icons">
            backup
          </i>
        </button>

        <button
          mat-raised-button
          color="primary"
          (click)="onSignOut()">Sign out</button>
      </div>

    </div>
  </mat-toolbar>

  <mat-card>
    <app-search-books></app-search-books>
  </mat-card>

  <mat-card>
    <app-libraries></app-libraries>
  </mat-card>

  <mat-card>
    <app-books></app-books>
  </mat-card>

</div>
