<div class="app-root">
  <mat-toolbar color="primary">
    <span class="title">Київські бібліотеки</span>

    <span class="space">
      <img src="/assets/ukraine_now_logo.png" height="50" alt="">
    </span>

    <span class="login">Login</span>
  </mat-toolbar>

  <mat-card>

    <form class="search-form">
      <mat-form-field class="full-width">

        <input
          type="text"
          placeholder="Пошук"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto">

        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete">

          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option">
            <img src="/assets/ukraine_now_logo.png" height="10" alt="">
            {{ option }}
          </mat-option>

        </mat-autocomplete>

      </mat-form-field>
    </form>

  </mat-card>

</div>
