<div class="app-root">
  <mat-toolbar color="primary">
    <h1 class="title">
      <img src="/assets/Kyiv_logo_english.png" height="50" alt="Ukraine">
      <span>
        Libraries
      </span>
    </h1>

    <span class="space">
      <img src="/assets/ukraine_now_logo.png" height="50" alt="Ukraine">
    </span>

    <span class="login">Login</span>
  </mat-toolbar>

  <mat-card>
    <app-search-books></app-search-books>
  </mat-card>

  <mat-card>
    <app-popular-books></app-popular-books>
  </mat-card>

</div>
