.app-root {
  .title, .login {
    min-width: 300px;
  }
  .title {
    display: flex;

    span {
      line-height: 48px;
    }
  }
  .space {
    flex: 1 1 auto;
    text-align: center;
  }
  .login {
    text-align: right;
  }

  .mat-card {
    margin-bottom: 24px;
  }

}
