.app-root {
  .title, .login {
    min-width: 190px;
  }
  .space {
    flex: 1 1 auto;
    text-align: center;
  }
  .login {
    text-align: right;
  }

  .search-form {
    min-width: 350px;
    width: 100%;

    .full-width {
      width: 100%;
    }
  }

}
