<div class="app-dialog-booking">

  <h1 mat-dialog-title>Booking</h1>

  <div mat-dialog-content>

    <div
      *ngIf="book2library"
      class="app-dialog-booking__qr-code">

      <div
        *ngIf="qrCodeData"
        class="qr-code">
        <qrcode
          [qrdata]="qrCodeData"
          [size]="256"
          [level]="'M'">
        </qrcode>
        <button
          (click)="onDownload()"
          mat-raised-button
          type="button">
          Download
        </button>
      </div>

      <ul>
        <li><b>Library:</b> {{book2library?.library?.name}}</li>
        <li><b>Book:</b> {{book2library?.book?.name}}</li>
        <li><b>End time:</b> {{book2library?.rentTime | date:'MMM d, y, h:mm a'}}</li>
      </ul>

    </div>

    <div
      *ngIf="!book2library"
      class="app-dialog-booking__map">

      <h3>{{book.name}}</h3>

      <div *ngIf="libraries.free.length">
        <mat-nav-list>
          <mat-list-item
            *ngFor="let library of libraries.free"
            (click)="onBookingInLibrary(library)">
            <a matLine>
              <b>{{library.name}}</b>
              <br>
              <span class="small-text">{{library.address}}</span>
            </a>
            <i *ngIf="isGeoSupported">
              <b>{{distance(library) | number : '1.2-2'}} km</b> away
            </i>
          </mat-list-item>
        </mat-nav-list>
      </div>

    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>

</div>
