<mat-card class="app-book"><!--  book--not-available -->

  <mat-card-content>
    <img mat-card-image [src]="book.thumbnail">
    <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
    <mat-card-title>{{book.name}}</mat-card-title>

    <div class="book-availability">
      <div
        *ngIf="false"
        class="not-available">
        Not available in libraries
      </div>
      <div
        *ngIf="true"
        class="available">
        Available in <b>2</b> libraries.<br>
        <i *ngIf="isGeoSupported">
          The nearest is <b>5 km</b> away.
        </i>
      </div>
    </div>

  </mat-card-content>

  <mat-card-actions>

    <button
      mat-raised-button
      color="primary"
      type="button">
      book a book
    </button>

  </mat-card-actions>
</mat-card>
