<mat-card
  [ngClass]="[view]"
  class="app-book"><!--  book--not-available -->

  <mat-card-content>
    <div class="top">
      <img mat-card-image [src]="book.thumbnail">
      <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
      <mat-card-title>{{book.name}}</mat-card-title>
    </div>

    <div class="book-availability">
      <div
        *ngIf="false"
        class="not-available">
        Not available in libraries
      </div>
      <div
        *ngIf="true"
        class="available">
        <div>Available in <b>2</b> libraries.</div>
        <div>
          <i *ngIf="isGeoSupported">
            The nearest is <b>5 km</b> away.
          </i>
        </div>
      </div>
    </div>

  </mat-card-content>

  <mat-card-actions>

    ({{book2library?.status}})

    <button
      (click)="onBookBook()"
      mat-raised-button
      color="primary"
      type="button">
      book a book
    </button>

    <div class="space"></div>

    <button
      *ngIf="isLogin()"
      (click)="onEditBook()"
      mat-raised-button
      color="accent">
      <i class="material-icons">edit</i>
    </button>

  </mat-card-actions>
</mat-card>
