<div class="app-libraries">

  <h2>

    <span *ngIf="!libraries.length">Libraries</span>
    <span
      *ngIf="libraries.length"
      [matBadge]="libraries.length"
      matBadgeOverlap="false">
      Libraries
    </span>

    <mat-button-toggle-group
      #view="matButtonToggleGroup"
      (change)="onChangeView()"
      name="view"
      value="map"
      aria-label="View">
      <mat-button-toggle value="map">Map</mat-button-toggle>
      <mat-button-toggle value="list">List</mat-button-toggle>
    </mat-button-toggle-group>

    <button
      *ngIf="isLogin()"
      (click)="onAddNewLibrary()"
      mat-raised-button
      color="accent">
      <i class="material-icons">add</i> Create New Library
    </button>
  </h2>

  <div class="libraries">

    <div *ngIf="isShowMap" class="geo">

      <div *ngIf="!isGeoSupported && !geoError">
        Loading...
      </div>

      <div *ngIf="!isGeoSupported && geoError" class="error">
        {{geoError}}
      </div>

      <div *ngIf="isGeoSupported">

        <div class="google-map" *ngIf="currentPosition">

          <agm-map
            #AgmMap
            [latitude]="currentPosition.latitude"
            [longitude]="currentPosition.longitude">

            <agm-marker
              *ngFor="let library of libraries"
              (markerClick)="onSelectLibrary(library)"
              (mouseOut)="onMarkerOut(library)"
              (mouseOver)="onMarkerOver(library)"
              [markerClickable]="true"
              [label]="librariesTitle[library.id]"
              [latitude]="library.geo.latitude"
              [longitude]="library.geo.longitude">
            </agm-marker>

          </agm-map>

        </div>

      </div>

    </div>

    <mat-accordion *ngIf="!isShowMap">

      <mat-expansion-panel
        *ngFor="let library of libraries"
        [expanded]="selectedLibrary?.id === library.id"
        (opened)="onSelectLibrary(library)"
        hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{library.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{library.address}}
            <i *ngIf="isGeoSupported">
              <b>{{distance(library) | number : '1.2-2'}} km</b> away
            </i>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="buttons">
          <button
            *ngIf="isLogin()"
            (click)="onEditLibrary(library)"
            mat-raised-button
            color="accent">
            <i class="material-icons">edit</i> Edit Library
          </button>

          <button
            *ngIf="isLogin()"
            (click)="onAddBooks2Library(library)"
            mat-raised-button
            color="accent">
            <i class="material-icons">add</i> Add Books to Library
          </button>
        </div>

        <div
          *ngIf="library.book2library.length"
          class="books">

          <app-book
            *ngFor="let book2library of library.book2library"
            [book]="book2library.book"
            [book2library]="book2library"
            view="list"
            (onDelete)="onDeleteBook(book2library)"></app-book>

        </div>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

</div>
