.app-libraries {

  .libraries {
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
      flex-basis: 0;
    }
    .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }

    .books {
      margin-top: 24px;
    }

    .books.grid-view {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .books.list-view {
    }
  }

  .buttons {
    button {
      margin-right: 16px;
    }
  }

}
