.app-libraries {

  .libraries {
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
      flex-basis: 0;
    }
    .mat-expansion-panel-header-title {
      font-weight: bold;
      font-size: 12pt;
      .mat-badge {
        position: absolute;
      }
    }
    .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }

    .books {
      margin-top: 24px;
    }

    .books.grid-view {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .books.list-view {
    }
  }

  .buttons {
    button {
      margin-right: 16px;
    }
  }

  .mat-button-toggle-group {
    font-size: 12pt;
    margin-right: 16px;
    margin-left: 8px;
  }

  .geo {
    margin: 16px auto;
    text-align: center;
    .error {
      color: red;
    }
    .google-map {
      //width: 600px;
      //height: 400px;
      margin: 0 auto;
    }

    agm-map {
      height: 300px;
    }
  }

}
