@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.space {
  flex: 1 1 auto;
}

.cdk-overlay-container {
  .cdk-overlay-pane {
    font-family: Roboto,"Helvetica Neue",sans-serif;
  }
}

.small-text {
  font-size: 8pt;
}

.nobr {
  white-space: nowrap;
}
