<div class="app-popular-libraries">

  <h2>
    Libraries
    <button
      *ngIf="isLogin()"
      (click)="onAddNewLibrary()"
      mat-raised-button
      color="accent">
      <i class="material-icons">add</i> Add new
    </button>
  </h2>

  <div class="libraries">

    <mat-accordion>

      <mat-expansion-panel *ngFor="let library of libraries">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{library.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{library.address}}
            <i *ngIf="isGeoSupported">
              <b>{{distance(library) | number : '1.2-2'}} km</b> away
            </i>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <button
          *ngIf="isLogin()"
          (click)="onEditLibrary(library)"
          mat-raised-button
          color="accent">
          <i class="material-icons">edit</i> Edit
        </button>

        <div
          *ngIf="library.book2library.length"
          class="books">

          <app-book
            *ngFor="let book2library of library.book2library"
            [book]="book2library.book"
            (onDelete)="onDeleteBook()"></app-book>

        </div>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

</div>
